/** Custom Font Initialization */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
h1, h2, h3, h4, h5, h6, p, a, button, input, q
{
    font-family: "Fira Sans", sans-serif;
}

* {
    margin: 0;
}

/** Container */
body
{
    background: #EFF;
}

/** Header Styles */
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
}
header nav ul
{
    display: flex;
    align-items: center;
    gap: 2rem;
}
header nav ul li
{
    list-style-type: none;
}
header nav ul li a
{
    font-size: 1.1rem;
    text-decoration: none;
    color: #111;
}
header nav ul li a:hover
{
    opacity: 70%;
}
header nav ul li a button
{
    cursor: pointer;
    background: transparent;
    color: #32AA32;
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    border: 3px solid #32EE32;
    border-radius: 0.5rem;
    font-weight: 600;
}
header nav ul li a button:hover
{
    background: #32AA32;
    border-color: #32FF32;
    color: #F5F5F5;
}

/** Main Styles */
main
{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0 10rem;
}

/** Banner Styles */
main #banner
{
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 5rem 3rem;
    border-radius: 0.75rem;
    background-color:#B0F4D0;
}
main #banner .banner-content
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
main #banner .banner-content .banner-text
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main #banner .banner-content .banner-text h3
{
    color: #777;
}
main #banner .banner-content .banner-text h1
{
    font-size: 2.5rem;
}
main #banner .banner-content .banner-btn button
{
    width: fit-content;
    color: #F5F5F5;
    font-weight: 600;
    background: green;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
main #banner .banner-content .banner-btn button:hover
{
    opacity: 95%;
    border-radius: 0.75rem;
}
main #banner .banner-img img
{
    width: 100%;
}

/** Pillar Styles */
main #pillars
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
main #pillars h2
{
    font-size: xx-large;
}
main #pillars .pillar-cards
{
    display: flex;
    gap: 1.5rem;
}
main #pillars .pillar-cards .pillar-card
{
    width: 247px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
}
main #pillars .pillar-cards .pillar-card img
{
    max-width: 4rem;
}
main #pillars .pillar-cards .pillar-card .pillar-card-text
{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    color: #333;
}

/** Vision's Styles */
main #vision-quote
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
main #vision-quote > div
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
main #vision-quote > div h2
{
    font-size: xx-large;
}
main #vision-quote > div p
{
    color: #555;
}
main #vision-quote #vision
{
    display: flex;
    gap: 1.5rem;
}
main #vision-quote #vision > div
{
    width: 319.5px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
}
main #vision-quote #vision > div .vision-card-text
{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
main #vision-quote #vision > div button
{
    width: fit-content;
    color: #F5F5F5;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}
main #vision-quote #vision > div button:hover
{
    color: #DDD;
    border-radius: 1rem;
}
main #vision-quote #vision > div img
{
    max-width: 4rem;
}

/** Quote Styles */
main #vision-quote #quote
{
    background-image: url("./quote-bg.png");
    background-repeat: no-repeat;
    background-position: 2% 11%;
    background-color: #FFFFFF;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border: 1px solid lightgray;
    border-radius: 1.25rem;
}
main #vision-quote #quote .quote-author
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
main #vision-quote #quote .quote-author p
{
    color: #888;
}

/** News Styles */
main #news
{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
main #news > div
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
main #news > div h2
{
    font-size: xx-large;
}
main #news > div p
{
    color: #555;
}
main #news .news-articles
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
main #news .news-articles article
{
    background: #FFFFFF;
    display: flex;
    gap: 2rem;
    border: 1px solid lightgray;
    border-radius: 1.5rem;
    padding: 3rem;
}
main #news .news-articles article > img
{
    width: 40%;
    border-radius: 1.5rem;
}
main #news .news-articles article > div
{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
main #news .news-articles article > div .article-info
{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
main #news .news-articles article > div .article-info img
{
    width: 6.75rem;
}
main #news .news-articles article > div .article-info .article-datetime
{
    font-size: large;
}
main #news .news-articles article > div .article-btns
{
    display: flex;
    gap: 1rem;
}
main #news .news-articles article > div .article-btns button
{
    color: #F5F5F5;
    font-size: 15px;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
main #news .news-articles article > div .article-btns button:first-child
{
    background: #0040FF;
}
main #news .news-articles article > div .article-btns button:last-child
{
    background: #FF0000;
}
main #news .news-articles article > div .article-btns button:first-child:hover
{
    background: #00C0FF;
    color: #111;
}
main #news .news-articles article > div .article-btns button:last-child:hover
{
    background: #FF0088;
    color: #111;
}

/** Donation Styles */
main #donate
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
main #donate .donate-head
{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
main #donate .donate-head h2
{
    font-size: xx-large;
}
main #donate .donate-head p
{
    color: #555;
}
main #donate .donate-fix-amount
{
    display: flex;
    gap: 1.5rem;
}
main #donate .donate-fix-amount > div
{
    background: #FFFFFF;
    padding: 2.5rem;
    border: 1px solid lightgray;
    border-radius: 1.25rem;
}
main #donate .donate-fix-amount > div:nth-child(2)
{
    background: #32AA3290;
    color: #555;
}
main #donate .donate-fix-amount > div:hover
{
    background: #32AA3277;
    color: #333;
}
main #donate .donate-custom-amount
{
    width: 100%;
    display: flex;
    justify-content: center;
}
main #donate .donate-custom-amount input
{
    width: 65%;
    text-align: center;
    padding: 0.75rem 0;
    font-size: larger;
    border: 1px solid lightgray;
}
main #donate .donate-confirm button
{
    background: #32AA32;
    color: #F5F5F5;
    font-size: larger;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
main #donate .donate-confirm button:hover
{
    background: #32DD32;
    color: #333;
    font-size: larger;
    font-weight: 600;
}

/** Subscribe My Son */
main #subscribe-nlr
{
    background: #32AA3249;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 5rem 12.5rem;
    border-radius: 1.5rem;
    align-items: center;
}
main #subscribe-nlr > div:first-child
{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main #subscribe-nlr > div h2
{
    font-size: xx-large;
}
main #subscribe-nlr > div p
{
    color: #555;
}
main #subscribe-nlr .email-subscribe
{
    display: flex;
    width: 100%;
}
main #subscribe-nlr .email-subscribe input[type="email"]
{
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}
main #subscribe-nlr .email-subscribe input[type="submit"]
{
    background: #00AA00;
    color: #F5F5F5;
    font-size: medium;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border: none;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    cursor: pointer;
}
main #subscribe-nlr .email-subscribe input[type="submit"]:hover
{
    background: #00EE00;
    color: #333;
}
main #subscribe-nlr .no-worry
{
    text-align: center;
    color: #555;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/** Footer Styles */
footer
{
    margin-top: 5rem;
    background: #EEE;
    padding: 3.25rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
footer h2
{
    text-align: center;
}
footer > div
{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
footer > div img
{
    width: 2rem;
}